footer .icons {
    text-align: center;
    font-size: 2em;
    padding-bottom: 1em;
}

footer .info {
    padding: 2em 1em;
}

footer {
    background-image: url(IMG//fruitveg.jpeg);
    color: white;
    width: 100vw;
    
}

.karkasas{
    margin: 0 auto;
    width: 90%;
    padding: 1em;
    background-color: #d99e554d;
}
main {
    padding-top: 1em;
    padding-bottom: 1em;
}
/* .icons {

} */

header {
    background-image: url(IMG//fruitveg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 1em;
}
header h1 {
    font-weight: bold;
}

